@use '../variables' as *;
@use '../mixins' as *;

.about {
  margin-top: 80px;

  &-title {
    color: $neutral-100;
    font-family: $font-family-secondary;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 60px 0 45px 0;
    text-align: left;
    @include responsive-font(medium);
  }

  &-content {
    p {
      color: $neutral-100;
      font-weight: $font-weight-lighter;
      letter-spacing: 0.02em;
      line-height: 22px;
      margin: 18px 0 0 0;
      text-align: justify;
      @include responsive-font(body);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .about {
    margin-top: 0px;

    &-title {
      text-align: center;
    }
  }
}
