@use '../variables' as *;
@use '../mixins' as *;

.about {
  &-title {
    color: $neutral-100;
    font-family: $font-family-secondary;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin-bottom: 45px;
    margin-top: 60px;
    @include flex-center;
    @include responsive-font(title);
  }

  &-content {
    p {
      color: $neutral-100;
      letter-spacing: 0.02em;
      line-height: 22px;
      margin: 25px 0 0 0;
      text-align: justify;
      @include responsive-font(body);

      &:first-child {
        margin-top: 0;
      }
    }
  }
}