@use '../variables' as *;
@use './shared/icons/cv-icon' as *;

.avatar {
  text-align: center;
  margin-top: 20px;

  img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
}

.cover-letter {
  margin-top: 30px;
  text-align: center;

  .title {
    border-right: 2px solid transparent;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: fit-content;
    @include responsive-font(large);
  }

  .body {
    font-weight: 200;
    margin: 8px 0 0 0;
    @include responsive-font(subheading);
  }
}

.heading {
  font-weight: 400;
  margin: 20px 0 0 0;
  @include responsive-font(medium);
}

@media (max-width: $breakpoint-tablet) {
  .avatar {
    margin: 20px auto auto auto;

    img {
      width: 200px;
      height: 200px;
    }
  }
}