@use '../variables' as *;
@use './shared/icons/cv-icon' as *;

.avatar {
  margin-top: 20px;
  text-align: center;

  img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
}

.cover-letter-section {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-letter {
  margin-top: 30px;
  text-align: center;

  .title {
    border-right: 2px solid transparent;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: fit-content;
    @include responsive-font(large);
  }

  .body {
    font-weight: 200;
    margin: 8px 0 0 0;
    @include responsive-font(subheading);
  }
}

.heading {
  font-weight: 400;
  margin: 20px 0 0 0;
  @include responsive-font(medium);
}

@media (max-width: $breakpoint-tablet) {
  .cover-letter-section {
    justify-content: flex-start;
    margin-top: 20px;
  }

  .avatar {
    img {
      height: 200px;
      width: 200px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .cover-letter-section {
    height: auto;
  }
}

// TODO: Fix flex layout for landscape mobile screens
@media (max-height: 620px) {
  .avatar {
    img {
      height: 150px;
      width: 150px;
    }
  }
  .cover-letter {
    margin-top: 0px;
  }
}
@media (max-height: 450px) {
  body {
    margin: 50px 60px;
  }
  .cover-letter-section {
    height: calc(100vh - 100px);
  }
  .avatar {
    display: none;
  }
}
@media (max-height: 380px) {
  body {
    margin: 40px 60px;
  }
  .cover-letter-section {
    height: calc(100vh - 80px);
  }
}
