@use '../variables' as *;
@use '../mixins' as *;

.footer {
  font-weight: lighter;
  margin: 60px auto 30px auto;
  padding-bottom: 30px;
  text-align: center;

  &-copyright {
    color: $neutral-100;
    margin: 0;
    @include responsive-font(md);

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
