@use '../variables' as *;
@use '../mixins' as *;

.footer {
  font-weight: lighter;
  margin: 60px auto 30px auto;
  text-align: center;

  &-copyright {
    margin: 0;
    @include responsive-font(body);

    a {
      color: $neutral-100;
      text-decoration: none;
    }
  }
}