@use '../variables' as *;
@use '../mixins' as *;

.projects {
  &-title {
    color: $neutral-100;
    font-family: $font-family-secondary;
    font-weight: $font-weight-black;
    letter-spacing: 0.05em;
    margin: 60px 0 45px 0;
    text-align: left;
    @include responsive-font(lg);
  }

  &-link {
    font-family: $font-family-secondary;
    margin: 15px 0 0 0;
    @include flex-center;
    @include responsive-font(xs);

    a {
      align-items: center;
      color: $neutral-100;
      display: flex;
      font-weight: 300;
      gap: 2px;
      text-decoration: none;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .projects {
    &-title {
      text-align: center;
    }
  }
}
