@use '../variables' as *;
@use '../mixins' as *;

.projects {

  &-title {
    @include flex-center;
    @include responsive-font(subheading);
    color: $neutral-100;
    font-family: $font-family-secondary;
    font-weight: 800;
    letter-spacing: 0.05em;
    margin-bottom: 45px;
    margin-top: 60px;
  }
}