@use '../../../variables' as *;

.cv-icon {
  align-items: center;
  background-color: $neutral-100;
  border-radius: 2px;
  color: $primary-900;
  display: flex;
  font-family: $font-family-secondary;
  @include responsive-font(md);
  font-weight: 900;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 15px;
  width: 40px;
}

// TODO: Above rules should be deleted once that I cover responsive web design
// @media (max-width: $breakpoint-mobile) {
//   .cv-icon {
//     font-size: 17px;
//     height: 26px;
//     width: 26px;
//   }
// }
