@use '../../../variables' as *;

.cv-icon {
  align-items: center;
  background-color: $neutral-100;
  border-radius: 2px;
  color: $primary-900;
  display: flex;
  font-family: $font-family-tertiary;
  font-size: 17px;
  font-weight: 800;
  height: 26px;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 15px;
  width: 26px;
  @include responsive-font(v1);
}