@use './variables' as *;
@use './mixins' as *;

#main-content {
  display: flex;
  max-width: 1280px;
  width: 100%;

  .site-header {
    flex: 0 0 327px;
    margin-right: clamp(40px, calc(40px + (123 - 40) * ((100vw - 768px) / (1280 - 768))), 123px);
    @include flex-center;
  }

  .content-wrapper {
    flex: 1;
    height: $full-height;
    overflow-y: scroll;
    width: 100%;
    
    /* TODO: Instead of hide scrollbar It should use the scrollbar of the main window */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media (max-width: $breakpoint-tablet) {
  #main-content {
    .site-header {
      flex: 0 0 240px;
      margin-right: 20px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  #main-content {
    .site-header {
      flex: 1;
      height: $full-height;
      margin-right: 0;
    }

    .content-wrapper {
      flex: 2;
      height: $full-height;
      margin-left: 20px;
      padding: 0 20px 0 0;
      width: calc(500px - 40px);
    }
  }
}