@use './variables' as *;
@use './mixins' as *;

@media (min-width: $breakpoint-mobile) {
  #main-content {
    display: flex;

    .site-header {
      height: $all-height;
      @include flex-center;
    }

    .content-wrapper {
      height: calc($all-height - 200px);
      overflow: scroll;
      padding: 200px 20px 0 0;
      width: calc(500px - 20px);
    }
  }
}