@use './variables' as *;
@use './mixins' as *;

$all-height: calc(100vh - 60px);

@media (min-width: $breakpoint-mobile) {
  #main-content {
    display: flex;

    .site-header {
      height: $all-height;
      @include flex-center;
    }

    .content-wrapper {
      height: $all-height;
      overflow: scroll;
      width: 500px;
    }
  }
}