@use 'variables' as *;
@use 'mixins' as *;

:root {
  color-scheme: dark;
  font-family: $font-family-base;
  font-weight: 400;
  line-height: $line-height-base;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: $full-height;
  margin: 60px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100% - 120px);
  @include flex-center;
}

@media (max-width: $breakpoint-tablet) {
  body {
    margin: 30px;
    width: calc(100% - 60px);
  }
}

@media (max-width: $breakpoint-mobile) {
  body {
    height: auto;
  }
}