@use 'variables' as *;
@use 'mixins' as *;

:root {
  color-scheme: dark;
  font-family: $font-family-base;
  font-weight: 400;
  line-height: $line-height-base;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 90px 60px;
  width: calc(100% - 120px);
  @include flex-center;
}

@media (max-width: $breakpoint-tablet) {
  body {
    margin: 90px 30px;
    width: calc(100% - 60px);
  }
}

@media (max-width: $breakpoint-mobile) {
  body {
    margin: 70px 30px;
  }
}
