@use 'variables' as *;
@use 'mixins' as *;

:root {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-weight: 400;
  color-scheme: dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @include flex-center;
}

button {
  @include button-base;
  
  &:hover {
    border-color: $neutral-100;
  }
}