@use 'sass:map';

// Colors
$primary-900: #111A23;
$primary-800: #1B2632;
$primary-700: #233546;

$accent-500: #5EEAD4;

$neutral-300: #D9D9D9;
$neutral-100: #FFF4E2;
$neutral-000: #FFFFFF;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// variables
$full-height: calc(100vh - 120px);
$font-weight-black: 900;
$font-weight-lighter: 300;

// Typography
$font-family-base: 'Manrope', 'system-ui', '-apple-system', 'sans-serif';
$font-family-secondary: 'Roboto', 'Arial', 'sans-serif';
$font-family-tertiary: 'Poppins', 'Arial','sans-serif';

$font-sizes: (
  mobile: (
    base: 1em,
    body: 18px,
    heading: 22px,
    large: 28px,
    medium: 24px,
    small: 14px,
    subheading: 20px,
    title: 26px,
    xs: 12px,
  ),
  tablet: (
    base: 1em,
    body: 18px,
    heading: 22px,
    large: 28px,
    medium: 24px,
    small: 14px,
    subheading: 20px,
    title: 26px,
    xs: 12px,
  ),
  desktop: (
    base: 1em,
    body: 18px,
    heading: 22px,
    large: 28px,
    medium: 24px,
    small: 14px,
    subheading: 20px,
    title: 26px,
    xs: 12px,
  )
);

// Mixin to use responsive font sizes
@mixin responsive-font($size) {
  font-size: map.get(map.get($font-sizes, mobile), $size);
  @media (min-width: $breakpoint-mobile) {
    font-size: map.get(map.get($font-sizes, desktop), $size);
  }
}

$line-height-base: 1.5;

// Layout
$max-width: 1280px;
$spacing-base: 1rem;

// Gradients
$gradient-dark: linear-gradient(180deg, rgba(17,26,35,1) 0%, rgba(21,32,43,1) 3%);