@use 'sass:map';

// Colors
$primary-900: #111a23;
$primary-800: #1b2632;
$primary-700: #233546;

$accent-500: #5eead4;

$neutral-300: #d9d9d9;
$neutral-100: #fff4e2;
$neutral-000: #ffffff;

// Breakpoints
$breakpoint-mobile: 620px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// variables
$full-height: calc(100vh - var(--viewport-offset));
$font-weight-black: 900;
$font-weight-lighter: 300;

// Typography
$font-family-base: 'Manrope', 'system-ui', '-apple-system', 'sans-serif';
$font-family-secondary: 'Roboto', 'Arial', 'sans-serif';
$font-family-tertiary: 'Poppins', 'Arial', 'sans-serif';

// Mixin to use responsive font sizes
@mixin responsive-font($size) {
  @if $size == 'xs' {
    font-size: 24px;
  } @else if $size == 'md' {
    font-size: 26px;
  } @else if $size == 'lg' {
    font-size: 32px;
  } @else if $size == 'xlg' {
    font-size: 40px;
  }
}

$line-height-base: 1.5;

// Layout
$max-width: 1280px;
$spacing-base: 1rem;

// Gradients
$gradient-dark: linear-gradient(180deg, rgba(17, 26, 35, 1) 0%, rgba(21, 32, 43, 1) 3%);
$background-dark: rgba(21, 32, 43, 1);

:root {
  --viewport-offset: 120px;
  @media (max-width: $breakpoint-tablet) {
    --viewport-offset: 60px;
  }
}
