// Colors
$primary-900: #111A23;
$primary-800: #1B2632;
$primary-700: #233546;

$accent-500: #5EEAD4;

$neutral-300: #D9D9D9;
$neutral-100: #FFF4E2;
$neutral-000: #FFFFFF;

// Typography
$font-family-base: 'Manrope', 'system-ui', '-apple-system', 'sans-serif';
$font-family-secondary: 'Roboto', 'Arial', 'sans-serif';

$font-size-base: 1em;  // Added this line
$font-size-title: 28px;
$font-size-heading: 24px;
$font-size-subheading: 20px;
$font-size-body: 18px;
$font-size-small: 16px;
$font-size-xs: 12px;

$line-height-base: 1.5;

// Layout
$max-width: 1280px;
$spacing-base: 1rem;