@forward './fonts';
@use './variables' as *;
@use './base' as *;

// Components styles
@use './components/cover-letter' as *;
@use './components/about' as *;
@use './components/projects' as *;
@use './components/shared/projectcard' as *;
@use './components/shared/pill' as *;
@use './components/articles' as *;
@use './components/shared/postcard' as *;

// Global text styles
h1, h2, h3, h4, h5, h6, p, span {
  letter-spacing: 0.05em;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: $neutral-100;
    background: $gradient-dark;
  }
}