@use '../../variables' as *;

.pill {

  p {
    background: $primary-700;
    border-radius: 20px;
    color: $neutral-100;
    display: inline-block;
    font-family: $font-family-secondary;
    font-weight: 300;
    margin: 0;
    padding: 3px 7px;
    @include responsive-font(xs);
  }
}