@use '../../variables' as *;
@use '../../mixins' as *;

.post-card {
  margin-bottom: 45px;
  @include flex-center;
  @include responsive-font(xs);

  &-image {
    margin: 0 18px 0 0;
    overflow: hidden;
    width: 120px;
    @include flex-center;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }

  &-content {
    flex: 1;

    h3, p {
      margin: 0;
      text-align: justify;
      @include responsive-font(v1);
    }

    h3 {
      font-family: $font-family-secondary;
      font-weight: bold;
      @include responsive-font(subheading);
    }
  }
}