@use '../../variables' as *;
@use '../../mixins' as *;

.project-card {
  margin-bottom: 45px;

  &-title {
    color: $neutral-100;
    font-family: $font-family-secondary;
    font-weight: normal;
    margin: 0 auto 20px auto;
    @include flex-center;
    @include responsive-font(subheading);
  }

  &-wrapper {
    display: flex;
  }

  &-image {
    flex: 0 0 321px;
    height: 164px;
    margin: auto 45px auto auto;
    overflow: hidden;
    @include flex-center;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &-content {
    margin: 20px auto;

    p {
      font-weight: 300;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0;
      text-align: justify;
      @include responsive-font(body);
    }
  }

  &-tech-stack {
    gap: 8px;
    flex-wrap: wrap;
    @include flex-center;
  }
}
